.add-item {
    display: flex;
    align-items: center;
    > * {
        &:first-child {
            flex-grow: 1;
            margin-right: 0.5rem;
        }
        &:last-child {
            flex-shrink: 0;
            height: 100%;
        }
    }
  }